[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "simrec"]
	path = simrec
	url = https://github.com/federicomarini/simrec
	shallow = true
	registered = true
[submodule "flowcatchR"]
	path = flowcatchR
	url = https://github.com/federicomarini/flowcatchr
	shallow = true
	registered = true
[submodule "GeneTonic"]
	path = GeneTonic
	url = https://github.com/federicomarini/genetonic
	shallow = true
	registered = true
[submodule "ideal"]
	path = ideal
	url = https://github.com/federicomarini/ideal
	shallow = true
	registered = true
[submodule "pcaExplorer"]
	path = pcaExplorer
	url = https://github.com/federicomarini/pcaexplorer
	shallow = true
	registered = true
