[submodule ".registry"]
	path = .registry
	url = https://github.com/federicomarini/federicomarini.r-universe.dev
	branch = HEAD
[submodule "GeneTonic"]
	path = GeneTonic
	url = https://github.com/federicomarini/GeneTonic
[submodule "ideal"]
	path = ideal
	url = https://github.com/federicomarini/ideal
[submodule "pcaExplorer"]
	path = pcaExplorer
	url = https://github.com/federicomarini/pcaExplorer
